# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env

# SQLite
db.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# Static files
staticfiles/

# OS
.DS_Store
Thumbs.db

# React / Vite
frontend/node_modules/
frontend/dist/
frontend/.env

# Postman
.postman/
postman/